/* ver 2.0 */
/* 모든 태그에 적용 */
* {
  font-family: Malgun Gothic;
  font-size: 16px;
  margin: 0px; /* top right bottom left */
  padding: 0px;
  color: #555555;
}
  .hover {
    cursor: pointer;
  }

.container_main {
  width: 90%;
  margin: 10px auto;
}

/* 화면 최상단 이미지
  JSP상 IMG 태그 경로: /css/images/top.jpg
  실제 경로: /static/css/images/top.jpg
  */
.top_img {
  width: 100%;
  height: 100px;
  background-image: url('/css/images/top.jpg');
}

.top_menu_label {
  position: relative; /* 속해 있는 부모 태그 기준 설정 */
  top: 1%;
  left: 0.5%;
  color: #FFFFFF;
}

.top_menu {
  position: relative; /* 부모 태그 기준, 화면 상단 기준*/
  top: 50%;
  background-color: rgba(50, 50, 255, 0.1); /* 0.1: Alpha, 투명도 */
  color: white;
  padding-left: 10px;
  height: 25px;
}

/* 화면 상단 메뉴 세로 구분선
     <span class='top_menu_sep'>&nbsp;</span> */
.top_menu_sep {
  background: url('/css/images/gray.jpg') center center no-repeat;
  background-size: 1px;
  width: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.menu_line {
  width: 100%;
  border-bottom: dotted 1px #777777;
  margin: 20px 0px 10px 0px; /* top -> right -> bottom -> left */
  clear: both;
}

.left_menu {
  width: 15%;
  float: left;
}

.content {
  width: 90%;
  margin: 10px auto;
}

.content_body {
  width: 90%;
  margin: 10px auto;
}

/* 화면 내용 하단 메뉴 우측 배치 */
.content_body_bottom {
  clear: both;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: right;
  width: 100%;
  background-color: white;
}

.content_bottom {
  width: 90%;
  margin: 10px auto;
}

.bottom_menu {
  text-align: center;
  margin: 20px auto;
  clear: both; /* 앞쪽 태그의 float 효과를 제거함. */
}

.aside_left {
  float: left;
  font-size: 0.9em; /**1.3em*/
}

/** 본래의 A 태그의 크기를 제거하고 부모의 가변 크기를 사용 */
.aside_left A {
  font-size: 1.0em;
}

.aside_right {
  float: right;
  font-size: 0.9em;
}

.aside_right A {
  font-size: 1.0em;
}

/* ASIDE 메뉴 세로 구분선 */
.menu_divide { /* 서브 메뉴의 세로 구분선 */
  color: #777777;
  font-size: 0.8em; /* 부모 글자 크기에 비해서 80%로 출력 */
  vertical-align: 10%; /* 0%는 bottom 기준 */
}

.copyright {
  margin-top: 10px;
  border-top: solid 1px #999999;
  text-align: center;
  clear: both; /* 앞쪽 태그의 float 효과를 제거함. */
}

.li_none {
  list-style: none;
  margin: 15px 10px;
}

.li_none_left {
  text-align: left;
  list-style: none;
  margin: 15px 10px;
}

.li_warning { /* 경고 메시지 */
  list-style: none;
  margin: 15px 10px;
  color: #FF6600;
}

.li_error { /* 에러 메시지 */
  list-style: none;
  margin: 15px 10px;
  color: #FF0000;
}

.li_right {
  text-align: right;
  list-style: none;
  margin: 20px auto;
  padding-right: 20px;
}

.fieldset_basic {
  width: 90%;
  margin: 10px auto;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 10px;
}

.legend_basic {
  margin-left: 30px;
  border: solid 1px #999999;
  background-color: #A6C2FF;
  color: #FFFFFF;
}

.input_basic {
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #999999;
  border-left: none;
  padding-left: 2px;
}

.textarea_basic {
  border-top: solid 1px #999999;
  border-right: solid 1px #999999;
  border-bottom: solid 1px #999999;
  border-left: solid 1px #999999;
  padding-left: 2px;
}

.title_line {
  text-align: left;
  border-bottom: solid 3px #555555;
  width: 100%;
/*   margin: 20px auto; */
  font-size: 20px;
}

.title_link:link { /* 방문전 상태 */
  font-size: 20px;
  text-decoration: none; /* 밑줄 삭제 */
}

.title_link:visited { /* 방문후 상태 */
  font-size: 20px;
  text-decoration: none; /* 밑줄 삭제 */
}

.title_link:hover { /* A 태그에 마우스가 올라간 상태 */
  font-size: 20px;
  text-decoration: none; /* 밑줄 삭제 */
}

.title_link:active { /* A 태그를 클릭한 상태 */
  font-size: 20px;
  text-decoration: none; /* 밑줄 삭제 */
}

.sub_menu {
  text-align: right;
  width: 100%;
}

.table_basic {
  border-collapse: collapse;
  margin: 2px auto;
  width: 100%;
}

/* 1em 기본값 : 16px, 주변 태그의 글자크기를 1em으로 인식
      DIV 태그가 20px 일경우 자식태그가 0.5em이면 최종적으로 10px이 적용됨.
      DIV 태그가 20px 일경우 자식태그가 1em이면 최종적으로 20px이 적용됨.
      DIV 태그가 20px 일경우 자식태그가 1.5em이면 최종적으로 30px이 적용됨.
  */
.th_basic {
  font-size: 0.8em;
  border-bottom: solid 3px #DDDDDD;
}

.th_bs {
  text-align: center;
}

.td_basic {
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #DDDDDD;
  border-left: none;
  text-align: center;
}

.td_left {
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #DDDDDD;
  border-left: none;
  text-align: left;
}

.td_bs {
  text-align: center;
}

.td_bs_left {
  text-align: left;
}

A:link { /* 방문전 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: #555555;
}

A:visited { /* 방문후 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: #555555;
}

A:hover { /* A 태그에 마우스가 올라간 상태 */
  text-decoration: underline; /* 밑줄 출력 */
  color: #7777FF;
}

A:active { /* A 태그를 클릭한 상태 */
  text-decoration: underline; /* 밑줄 출력 */
  color: #7777FF;
}

.menu_link:link { /* 방문전 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: white;
}

.menu_link:visited { /* 방문후 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: white;
}

.menu_link:hover { /* A 태그에 마우스가 올라간 상태 */
  text-decoration: underline; /* 밑줄 출력 */
  color: white;
}

.menu_link:active { /* A 태그를 클릭한 상태 */
  text-decoration: underline; /* 밑줄 출력 */
  color: white;
}

.recom_link:link { /* 방문전 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: #555555;
  font-size: 0.8em;
}

.recom_link:visited { /* 방문후 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: #555555;
  font-size: 0.8em;
}

.recom_link:hover { /* A 태그에 마우스가 올라간 상태 */
  text-decoration: none; /* 밑줄 출력 */
  color: #7777FF;
  font-size: 0.8em;
}

.recom_link:active { /* A 태그를 클릭한 상태 */
  text-decoration: none; /* 밑줄 출력 */
  color: #7777FF;
  font-size: 0.8em;
}

.content_title {
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #DDDDDD;
  border-left: none;
  margin-bottom: 20px;
}

.content_bottom {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 0.9em;
}

.li_left_menu_1 { /* 화면 좌측 대분류 */
  list-style: none;
  margin-top: 25px;
  background: url(/css/images/li_left_menu_1.png) left center no-repeat;
  background-size: 16px;
  padding-left: 25px;
  line-height: 15px;
}

.li_left_menu_2 { /* 화면 좌측 중분류 */
  list-style: none;
  margin: 15px 10px;
  background: url(/css/images/li_left_menu_2.png) left center no-repeat;
  background-size: 16px;
  padding-left: 25px;
  line-height: 15px;
}

.label_basic {
  width: 200px;
  background-color: #99cc00;
  color: #FFFFFF;
  font-weight: normal;
  display: inline-block; /* DIV 태그처럼 한줄의 영역을 블럭 영역으로 확장 표시 */
  text-align: right;
  padding-right: 10px;
}

/* 기타 메시지 */
.message {
  width: 70%;
  border: none;
  margin: 30px auto;
  text-align: center;
  background-color: #FAFAFA;
  padding: 30px;
}

/* 알림 메시지 */
.span_info {
  color: #ffffff;
  background-color: rgba(0, 200, 0, 0.6);
  padding: 2px;
}

/* 주의 메시지 */
.span_alert {
  color: #ffffff;
  background-color: rgba(0, 0, 200, 0.6);
  padding: 2px;
}

/* 경고 메시지 */
.span_warning {
  color: #FFFFFF;
  background-color: rgba(255, 0, 0, 0.6);
  padding: 2px;
}

.msg_warning {
  color: #FFFFFF;
  background-color: rgba(255, 0, 0, 0.6);
  padding: 2px;
  margin: 10px auto;
  text-align: center;
  width: 80%;
}

/* 처리 성공 메시지 */
.span_success {
  background: url('/css/images/url5.png') left center no-repeat;
  background-size: 10px;
  padding-top: 0px;
  padding-left: 20px;
}

/* 처리 실패 메시지 */
.span_fail {
  background: url('/css/images/url8.png') left center no-repeat;
  background-size: 10px;
  padding-top: 0px;
  padding-left: 20px;
}

.cart_label {
  width: 50%;
  text-align: left;
  float: left;
  font-size: 1.5em;
  padding-bottom: 5px;
}
.form label{
  font-size: 1.5em;
}

.cart_price {
  width: 50%;
  text-align: right;
  float: left;
  font-size: 1.5em;
}

.icon {
  width: 16px;
}
.icon-r{
  width: 16px;
  height:16px;
  object-fit:cover;
  border-radius:50%;
}



/* ==========================================Login ===============================================*/
.container {
  height: 100vh;
  width: 100%;
  padding-right: var(- -bs-gutter-x, .75rem);
  padding-left: var(- -bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto
}
.row {
  -bs-gutter-x: 1.5rem;
  -bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(- -bs-gutter-y)* -1);
  margin-right: calc(var(- -bs-gutter-x)* -.5);
  margin-left: calc(var(- -bs-gutter-x)* -.5)
}
.justify-content-center {
  justify-content: center !important
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%
}

.col-lg-5 {
  flex: 0 0 auto;
  width: 41.66666667%
}

.card {
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem
}


.mt-5 {
  margin-top: 3rem !important
}
.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  background-color : gray;
  color: white;
  border-radius: 10px 10px 0 0;
}
.text-center{
    text-align:center!important
}

.card-body{
    flex:1 1 auto;
    padding:1rem 1rem
}
.clearfix::after {
  display: block;
  clear: both;
  content: ""
}
.mb-3{
    margin-bottom:1rem!important;
    margin-right : 25px;
}
button,input,optgroup,select,textarea{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
.form-control{
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.view_text{
  display:block;
  width:100%;
  padding:.375rem .75rem;
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#212529;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border-radius:.25rem;


}



.btn{
      display:inline-block;
      font-weight:400;
      line-height:1.5;
      color:#212529;
      text-align:center;
      text-decoration:none;
      vertical-align:middle;
      cursor:pointer;
      -webkit-user-select:none;
      -moz-user-select:none;
      user-select:none;
      background-color:transparent;
      border:1px solid transparent;
      padding:.375rem .75rem;
      font-size:1rem;
      border-radius:.25rem;
      transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
  }

.my-btn {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  top: -1px
}

.w-100 {
  width: 100% !important
}
.w-50 {
  width: 50% !important
}

.my-btn:hover {
  background-color: rgb(68, 67, 67);
  color: white;
}
.my-btns{
  background-color: gray;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  top: -1px
}

/* ==========================================TOP ===============================================*/
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar .right {
  float: right;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}
.navbar img{
    float: left;
    text-align: center;
    padding-left: 8px;
    padding-top:10px
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown_right{
  float:right;
  overflow:hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown_right .dropbtn2 {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgray;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/*================view===========================*/
.float-start {
  float: left !important
}

.float-end {
  float: right !important
}

.me-2 {
  margin-right: .5rem !important
}


.ms-4 {
  margin-left: 1.5rem !important
}
.border {
  border: 1px solid #dee2e6 !important
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important
}

.rounded {
  border-radius: .25rem !important
}

.p-2 {
  padding: .5rem !important
}

.mt-3 {
  margin-top: 1rem !important
}

.img-20 {
  max-width: 30%;
  height: auto
}
.img-40 {
  max-width: 40%;
  height: auto
}

/*================list_by_type css===========================*/

.btn_type{
      font-weight:400;
      line-height:1.5;
      color:gray;
      text-align:center;
      text-decoration:none;
      vertical-align:middle;
      cursor:pointer;
      -webkit-user-select:none;
      -moz-user-select:none;
      user-select:none;
      background-color:transparent;
      border:none;
      border-color: black;
      font-size:1rem;
      margin: 20px;
      border-radius:.95rem;
      transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
  }
  #buttondiv{
    /* display: flex;
  align-items: center;
  justify-content: center;
    border:1px solid transparent;
    border-color: black;
    border-radius:.25rem;
    height: 50px; 
    padding: 20px;
    
    */

    width: 80%;
    margin: auto;
  }

  #grid{
    width: 80%;
    margin: auto;
  }
  .product-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 3개의 열로 구성된 그리드 */
      grid-gap: 20px; /* 각 상품 사이의 간격 */
    }
    
    .product-item {
      /* border: 2px solid #ccc; */
      padding: 10px;
      background-color: rgb(243, 243, 243);
      text-align: center;
    }
    
    .img-90 {
  max-width: 90%;
  height: auto
}
h3{
  font-size:20px;
  margin:10px;
}

    /*================list_by_type css end===========================*/


